html{
    color: #c1c1c1;
    background: #313131;
}
h1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0;
}
td{
    border-bottom: 1.5px solid black;
}
th{
    text-align: left;
}
